.footer {
    color: #49c57c;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    background: #494849 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 19px #0000000D;
    display: flex;
    min-height: 1vh;
    flex-direction: column;
    text-align: center;
}