.recipeheader {
    background-color: #8e5d9b;
    // border: solid 4px black;
    // border-bottom: solid 2px black;
    margin: 32px;
    margin-bottom: 0px;
    padding: 16px;
    height: 100px;
}

.recipecontainer {
    background-color: white; 
    // border: solid 4px black;
    // border-top: solid 2px black;
    // border-bottom-right-radius: 25px;
    // border-bottom-left-radius: 25px;
    margin: 32px;
    margin-top: 0px;
    padding: 16px;
}